version: "{build}"

environment:
  matrix:
    - nodejs_version: 0.10

install:
  - npm install

build: off

test_script:
  - node --version && npm --version
  - npm test

cache:
  - node_modules                                        # local npm modules
  - C:\Users\appveyor\AppData\Roaming\npm\node_modules  # global npm modules
